@model IEnumerable<ExampleModel>
@{
    Layout = null;
    ViewData["Title"] = "Form example";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NetCoreMvc</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">NetCoreMvc</a>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <div class="border-bottom mb-3">
                <h3>@ViewData["Title"]</h3>
            </div>

            <form method="post">
                <div class="form-horizontal">
                    <div class="form-group mb-3">
                        <label name="FirstName" class="control-label col-md-2">First Name</label>
                        <div class="col-md-10">
                            <input name="FirstName" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group mb-3">
                        <label name="LastName" class="control-label col-md-2">Last Name</label>
                        <div class="col-md-10">
                            <input name="LastName" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group mb-3">
                        <label name="Age" class="control-label col-md-2">Age</label>
                        <div class="col-md-10">
                            <input name="Age" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10 pull-right">
                            <button type="submit" class="w-100 btn btn-md btn-secondary">Save</button>
                        </div>
                    </div>
                </div>
            </form>

            <table class="table table-success table-striped mt-3">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Age</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th scope="row">@item.Id</th>
                            <td>@item.FirstName</td>
                            <td>@item.LastName</td>
                            <td>@item.Age</td>
                        </tr>
                    }
                </tbody>
            </table>
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container mt-3">
            &copy; @DateTime.Now.Year - NetCoreMvc
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>